<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authService.isAdminLoggedIn$ | async">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Monika Demo</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="../home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="authService.isAdminLoggedIn$ | async"><a class="nav-link" [routerLink]="['/user']">Job Applications</a></li>
        </ul>
      </div>
      <div class="float-right d-flex">
        <button type="button" class="btn btn-danger" (click)="logout()"
        *ngIf="authService.isAdminLoggedIn$ | async">Logout</button>&nbsp; &nbsp; &nbsp;
      </div>
    </div>
  </nav>
  <div class="container w-100">
    <router-outlet></router-outlet>
  </div>
</div>